*.pyc
*.h5
sdsim/Library
sdsim/log/*
sdsim/obj
*.sln
*.userprefs
sdsim/Temp
*.csproj
sdsim/.vs
sdsim/Build
dataset
sdsim/Logs
sdsim/Packages
sdsim/ProjectSettings/PresetManager.asset
sdsim/ProjectSettings/VFXManager.asset
sdsim/ProjectSettings/XRSettings.asset
sdsim/ProjectSettings/ProjectVersion.txt
